<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/font/fontawesome-free-6.2.0-web/css/all.min.css">
    <link rel="stylesheet" href="/css/app.css">
    <title>Document</title>
</head>
<body>
    <div class="navbar">
        <div class="navbar__logo">
            <img src="/imgg/img/logonhom.png" alt="">
        </div>
        <!-- LIST  -->
        <div class="navbar__open-bar l4">
            <div class="navbar__list-heading">Sản Phẩm
                <i class="navbar__list-open-icon fa-solid fa-chevron-down"></i>
            </div>
            <ul class="navbar__list-link">    
                <li class="navbar__list-item" >
                    <a href="/product">
                        Quản Lí Sản Phẩm
                    </a>
                </li>
                <li class="navbar__list-item">
                    <a href="/product">
                        Thêm Sản Phẩm
                    </a>
                </li>
                <li class="navbar__list-item">
                    <a href="/product">
                        Sản Phẩm Vi Phạm
                    </a>
                </li>
                <li class="navbar__list-item">
                    <a href="/product">
                        Cài Đặt Sản Phẩm
                    </a>
                </li>
            </ul>
        </div>

        <div class="navbar__open-bar l3">
            <div class="navbar__list-heading">Đơn Hàng
                <i class="navbar__list-open-icon fa-solid fa-chevron-down"></i>
            </div>
            <ul class="navbar__list-link">    
                <li class="navbar__list-item" >
                    <a href="/order">
                        Tất Cả 
                    </a>
                </li>
                <li class="navbar__list-item">
                    <a href="/order">
                        Đơn Hủy
                    </a>
                </li>
                <li class="navbar__list-item">
                    <a href="/order">
                        Trả Hàng/Hoàn Tiền
                    </a>
                </li>
            </ul>
        </div>

        <div class="navbar__open-bar l3">
            <div class="navbar__list-heading">Vận Chuyển
                <i class="navbar__list-open-icon fa-solid fa-chevron-down"></i>
            </div>
            <ul class="navbar__list-link">    
                <li class="navbar__list-item" >
                    <a href="">
                        Quản Lý Vận Chuyển
                    </a>
                </li>
                <li class="navbar__list-item">
                    <a href="">
                        Giao Hàng Loạt
                    </a>
                </li>
                <li class="navbar__list-item">
                    <a href="">
                    Cài Đặt Vận Chuyển
                    </a>
                </li>
            </ul>
        </div>

        <div class="navbar__open-bar l3">
            <div class="navbar__list-heading">Kênh Marketing
                <i class="navbar__list-open-icon fa-solid fa-chevron-down"></i>
            </div>
            <ul class="navbar__list-link">    
                <li class="navbar__list-item" >
                    <a href="">
                        Kênh Marketing
                    </a>
                </li>
                <li class="navbar__list-item">
                    <a href="">
                        Quảng Cáo Shopeee
                    </a>
                </li>
                <li class="navbar__list-item">
                    <a href="">
                        Mã giảm giá của tôi
                    </a>
                </li>
            </ul>
        </div>

        <div class="navbar__open-bar l4">
            <div class="navbar__list-heading">Tài Chính
                <i class="navbar__list-open-icon fa-solid fa-chevron-down"></i>
            </div>
            <ul class="navbar__list-link">    
                <li class="navbar__list-item" >
                    <a href="">
                        Doanh Thu
                    </a>
                </li>
                <li class="navbar__list-item">
                    <a href="">
                        Số Dư TK H3TP
                    </a>
                </li>
                <li class="navbar__list-item">
                    <a href="">
                        Tài Khoản Ngân Hàng
                    </a>
                </li>
                <li class="navbar__list-item">
                    <a href="">
                        Cài Đặt Thanh Toán
                    </a>
                </li>
            </ul>
        </div>

        <div class="navbar__open-bar l2">
            <div class="navbar__list-heading">Dữ Liệu
                <i class="navbar__list-open-icon fa-solid fa-chevron-down"></i>
            </div>
            <ul class="navbar__list-link">    
                <li class="navbar__list-item" >
                    <a href="">
                        Phân Tích Bán Hàng
                    </a>
                </li>
                <li class="navbar__list-item">
                    <a href="">
                        Hiệu Quả Hoạt Động
                    </a>
                </li>
            </ul>
        </div>

        <div class="navbar__open-bar l2">
            <div class="navbar__list-heading">Phát Triển
                <i class="navbar__list-open-icon fa-solid fa-chevron-down"></i>
            </div>
            <ul class="navbar__list-link">    
                <li class="navbar__list-item" >
                    Nhiệm Vụ Người Bán
                </li>
                <li class="navbar__list-item">
                    Shop Yêu Thích
                </li>
            </ul>
        </div>

        <div class="navbar__open-bar l2">
            <div class="navbar__list-heading">Chăm Sóc Khách Hàng
                <i class="navbar__list-open-icon fa-solid fa-chevron-down"></i>
            </div>
            <ul class="navbar__list-link">    
                <li class="navbar__list-item" >
                    Trợ Lý Chat
                </li>
                <li class="navbar__list-item">
                    Hỏi-Đáp
                </li>
            </ul>
        </div>

        <div class="navbar__open-bar l6">
            <div class="navbar__list-heading">Quản Lý Shop
                <i class="navbar__list-open-icon fa-solid fa-chevron-down"></i>
            </div>
            <ul class="navbar__list-link">    
                <li class="navbar__list-item" >
                    Đánh Giá Shop
                </li>
                <li class="navbar__list-item">
                    Hồ Sơ Shop
                </li>
                <li class="navbar__list-item" >
                    Trang Trí Shop
                </li>
                <li class="navbar__list-item">
                    Danh Mục Của Shop
                </li>
                <li class="navbar__list-item" >
                    Kho Hình Ảnh/Video
                </li>
                <li class="navbar__list-item">
                    Báo Cáo Của Tôi
                </li>
            </ul>
        </div>

        <div class="navbar__open-bar l4">
            <div class="navbar__list-heading">Thiết Lập Shop
                <i class="navbar__list-open-icon fa-solid fa-chevron-down"></i>
            </div>
            <ul class="navbar__list-link">    
                <li class="navbar__list-item" >
                    Địa Chỉ
                </li>
                <li class="navbar__list-item">
                    Thiết Lập Shop
                </li>
                <li class="navbar__list-item">
                    Tài Khoản
                </li>
                <li class="navbar__list-item">
                    Nền Tảng Đối Tác
                </li>
            </ul>
        </div>

        <div class="navbar__open-bar l2">
            <div class="navbar__list-heading">Trợ Giúp
                <i class="navbar__list-open-icon fa-solid fa-chevron-down"></i>
            </div>
            <ul class="navbar__list-link">    
                <li class="navbar__list-item" >
                    Trung Tâm Hỗ Trợ
                </li>
                <li class="navbar__list-item">
                    Thị Trường Dịch Vụ
                </li>
            </ul>
        </div>

        
    </div>
    <div class="product__container">
        <div class="product__header">
            <p style="    font-size: 24px;
            font-weight: 500;">Danh sách sản phẩm</p>
            <p class="create-btn" style="padding: 12px 20px;
            border: 1px solid #0070AE;
            border-radius: 4px;
            cursor: pointer;
            background-color: #0070AE;">+ Thêm sản phẩm</p>
        </div>
        <div class="product__menu">
            <div class="product__menu-item active">Tất cả</div>
            <div class="product__menu-item">Không hợp lệ</div>
        </div>
        <input type="text" placeholder="Tìm sản phẩm" class="product__menu-search">
        <div class="product__list__header">
            <input type="checkbox" style="width: 9%; align-items: center;    margin: auto;">
            <p style="text-align: center;width: 27%;">Tên sản phẩm</p>
            <p style="text-align: center;width: 12%;">Ảnh</p>
            <p style="text-align: center;width: 18%;">Giá</p>
            <p style="text-align: center;width: 18%;">Loại</p>
            <p style="text-align: center;width: 15%;">Số lượng</p>
        </div>
        <table class="product__list__table">
            {{#each product}}
            <tr>
                <td><input type="checkbox"></td>
                <td>{{this.name}}</td>
                <td><img src="{{this.img}}" alt=""></td>
                <td>{{this.price}}</td>
                <td>{{this.type}}</td>
                <td>{{this.quantity}}</td>
            </tr>
            {{/each}}
        </table>
    </div>
    <div class="modal">
        <div class="modal__overlay">
            <div class="modal__body">
                <div class="modal__heading">
                    Tạo sản phẩm
                </div>
                    <form id="modal__form" action="/store" method="POST">
                        <input name="name" type="text" placeholder="Tên sản phẩm">
                        <input name="description" type="text" placeholder="Mô tả sản phẩm">
                        <input name="img" type="text" placeholder="Hỉnh ảnh sản phẩm">
                        <input name="quantity" type="number" placeholder="Số lượng">
                        <input name="price" type="text" name="" id="" placeholder="Giá">
                        <label for="type">Loại sản phẩm</label>
                        <select name="type" id="" >
                            <option value="Dược phẩm">Dược phẩm</option>
                            <option value="Thực phẩm">Thực phẩm</option>
                            <option value="Giày dép">Giày dép</option>
                            <option value="Đồng hồ">Đồng hồ</option>
                            <input type="submit">
                        </select>
                    </form>
            </div>
        </div>
    </div>
</body>
</html>
<script src="/js/web_js.js">

</script>

<script>
    var productHeaderName = document.querySelectorAll('.product__menu-item');
    productHeaderName.forEach((a)=>{
        a.addEventListener('click',()=>{
            productHeaderName.forEach((a)=>{
                a.classList.remove('active');
            })
            a.classList.add('active');
        })
    })



    var createBtn = document.querySelector('.create-btn');
    var modal =  document.querySelector('.modal');
    var modalBody = document.querySelector('.modal__body')
    // modal show&hide
    function ShowCreateBtn(){
        modal.classList.add('open');
    }
    function HideCreateBtn(){
        modal.classList.remove('open');
    }
    createBtn.addEventListener('click',ShowCreateBtn);
    modal.addEventListener('click',HideCreateBtn);
    modalBody.addEventListener('click',function(event){
        event.stopPropagation()
    })
</script>